[run]
source = .
omit =
    */coverage*
    */htmlcov/*
    ./beer_recommendations/*
    ./beer_app/test/*
    ./manage.py
    */migrations/*

branch = true
plugins = django_coverage_plugin

[report]
exclude_lines = 
    def get_image_url
    def get_queryset
    def get_object
    def perform_create
show_missing = True
